<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="com.outsystems.ilpdfkit-cordova"
    version="0.0.1">

    <name>ILPDFKit</name>
    <description>Cordova plugin to support ILPDFKit</description>
    <author>outsystems Experts</author>

    <info>

    </info>

    <js-module src="www/ilpdfkit.js" name="ILPDFKit">
        <clobbers target="ILPDFKit" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.1.0" />
    </engines>

    <platform name="ios">
        <!-- config file -->
        <config-file target="config.xml" parent="/*">
            <feature name="ILPDFKit">
                <param name="ios-package" value="ILPDFKitPlugin" />
            </feature>
        </config-file>

        <!-- core CustomCamera header and source files -->
        <header-file src="src/ios/ILPDFKitPlugin.h" />
        <header-file src="src/ios/ILPDFKit/ILPDFKit.h" />
        <header-file src="src/ios/ILPDFKit/Controller/ILPDFViewController.h" />
        <header-file src="src/ios/ILPDFKit/Controller/ILPDFSerializer.h" />
        <header-file src="src/ios/ILPDFKit/Model/Objects/ILPDFArray.h" />
        <header-file src="src/ios/ILPDFKit/Model/Objects/ILPDFDictionary.h" />
        <header-file src="src/ios/ILPDFKit/Model/Objects/ILPDFName.h" />
        <header-file src="src/ios/ILPDFKit/Model/Objects/ILPDFNull.h" />
        <header-file src="src/ios/ILPDFKit/Model/Objects/ILPDFNumber.h" />
        <header-file src="src/ios/ILPDFKit/Model/Objects/ILPDFObject.h" />
        <header-file src="src/ios/ILPDFKit/Model/Objects/ILPDFStream.h" />
        <header-file src="src/ios/ILPDFKit/Model/Objects/ILPDFString.h" />
        <header-file src="src/ios/ILPDFKit/Model/ILPDFDocument.h" />
        <header-file src="src/ios/ILPDFKit/Model/ILPDFForm.h" />
        <header-file src="src/ios/ILPDFKit/Model/ILPDFFormContainer.h" />
        <header-file src="src/ios/ILPDFKit/Model/ILPDFPage.h" />
        <header-file src="src/ios/ILPDFKit/Utility/ILPDFObjectParser.h" />
        <header-file src="src/ios/ILPDFKit/Utility/ILPDFUtility.h" />
        <header-file src="src/ios/ILPDFKit/View/ILPDFFormButtonField.h" />
        <header-file src="src/ios/ILPDFKit/View/ILPDFFormChoiceField.h" />
        <header-file src="src/ios/ILPDFKit/View/ILPDFFormSignatureField.h" />
        <header-file src="src/ios/ILPDFKit/View/ILPDFFormTextField.h" />
        <header-file src="src/ios/ILPDFKit/View/ILPDFView.h" />
        <header-file src="src/ios/ILPDFKit/View/ILPDFWidgetAnnotationView.h" />


        <source-file src="src/ios/ILPDFKitPlugin.m" />
        <source-file src="src/ios/ILPDFKit/Controller/ILPDFViewController.m" />
        <source-file src="src/ios/ILPDFKit/Controller/ILPDFSerializer.m" />
        <source-file src="src/ios/ILPDFKit/Model/ILPDFPage.m" />
        <source-file src="src/ios/ILPDFKit/Model/ILPDFFormContainer.m" />
        <source-file src="src/ios/ILPDFKit/Model/ILPDFForm.m" />
        <source-file src="src/ios/ILPDFKit/Model/ILPDFDocument.m" />
        <source-file src="src/ios/ILPDFKit/Model/Objects/ILPDFArray.m" />
        <source-file src="src/ios/ILPDFKit/Model/Objects/ILPDFDictionary.m" />
        <source-file src="src/ios/ILPDFKit/Model/Objects/ILPDFName.m" />
        <source-file src="src/ios/ILPDFKit/Model/Objects/ILPDFNull.m" />
        <source-file src="src/ios/ILPDFKit/Model/Objects/ILPDFNumber.m" />
        <source-file src="src/ios/ILPDFKit/Model/Objects/ILPDFStream.m" />
        <source-file src="src/ios/ILPDFKit/Model/Objects/ILPDFString.m" />
        <source-file src="src/ios/ILPDFKit/Utility/ILPDFUtility.m" />
        <source-file src="src/ios/ILPDFKit/Utility/ILPDFObjectParser.m" />
        <source-file src="src/ios/ILPDFKit/View/ILPDFWidgetAnnotationView.m" />
        <source-file src="src/ios/ILPDFKit/View/ILPDFView.m" />
        <source-file src="src/ios/ILPDFKit/View/ILPDFFormTextField.m" />
        <source-file src="src/ios/ILPDFKit/View/ILPDFFormSignatureField.m" />
        <source-file src="src/ios/ILPDFKit/View/ILPDFFormChoiceField.m" />
        <source-file src="src/ios/ILPDFKit/View/ILPDFFormButtonField.m" />

    </platform>

</plugin>
